#root{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.appHeader{

  text-align: center;
  /* border: 2px solid black; */
  width:40%;
  height: auto;
  padding: 20px;
  box-shadow:-5px -5px 50px #ccc , 5px 5px 50px #ccc ;
}
.header{
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
}

.form{
  padding: 10px;
}

.card{
  margin: 16px;
  width: 40%;
}
.cardHead{
  width: 100%;
}

/* .image{
  width:20%;
  display: inline-block;
} */

.info{
  padding: 10px;
  color: rgb(110, 98, 98);
  
}
span{
  color: black;
}


